* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}


body {
	font-family: sans-serif; 
	background-color: #0E0E1F;
	color: white;
	display: grid;
	margin: 0;
	padding: 0;
	height: 836px;
	grid-template-rows: 100px 100px 1fr 1fr 1fr 1fr 100px;
	grid-template-columns:  1fr;
	grid-template-areas: 
		"logo"
		"nav"
		"header"
		"afstand"
		"samenwerking"
		"locatie"
		"footer";
}
.locatie h1{
	text-align: left;
}
.locatie {
	text-align: left;
}

/*navigatie*/


nav {
	grid-area: nav;
	display: block;
  margin: 10px 0px 10px 0px;
  max-width: 700px;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
nav ul li{
  list-style: none;
  background-color: #A7A5CA;
  padding: 15px 30px 15px 30px;
  margin: 5px;
  border-radius: 25px;
}
nav ul li a{
  color: white;
  text-decoration: none;
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.menu li{
	z-index: 99;
	font-size: 16px;
	padding: 15px 5px;
	background-color: #333;
}
.menu li a{
	display: block;
}
.logo {
	grid-area: logo;
	margin: 0 auto;
}
.zoekbalk {
	display: none;
}

/*mobiel menu*/

.menu{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.toggle{
	order:1;
}
.item.button{
	order:3;
}
.item{
	width:100%;
	text-align: center;
	order: 2;
	display: none;
}
.item.active{
	display:block;
}

.toggle {
	cursor: pointer;
}
.bars{
	background: #999;
	display: inline-block;
	height: 2px;
	position: relative;
	width: 18px;
}
.bars::before,.bars::after{
	background: #999;
	content: "";
	display: inline-block;
	height: 2px;
	position: absolute;
	width: 18px;
}
.bars::before{
	top: 5px;
}
.bars::after{
	top: -5px;
}


/*eind navigatie*/

h1 {
	font-family: 'Bree Serif', serif;
	font-size: 28px;
	line-height: 42px;
	padding: 10px 0px 10px 0;
}
header {
	grid-area: header;
	margin: 15px;
	background-color: #1E1D31;
	border-radius: 10px;
	-webkit-box-shadow: 0px 6px 24px -6px rgba(0,0,0,1);
	-moz-box-shadow: 0px 6px 24px -6px rgba(0,0,0,1);
	box-shadow: 0px 6px 24px -6px rgba(0,0,0,1);
}
header div {
	margin: auto;
	padding: 0;
}
.afstand div {
	color: white;
}
/*content*/

.buttons {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}
.image {
	content: url("mobiel-banner.png");
	width:100%;
	height: auto;
}
.fotos {
	width: 100%;
	height: auto;
}
section {
	display: flex;
	flex-direction: column;
}
article {
	padding: 20px;
	font-family: Arial;
	font-size: 18px;
	line-height: 28px;
}
.afstand {
	grid-area: afstand;
	margin: 15px;
	background-color: #1E1D31;
	border-radius: 10px;
	-webkit-box-shadow: 0px 6px 24px -6px rgba(0,0,0,1);
	-moz-box-shadow: 0px 6px 24px -6px rgba(0,0,0,1);
	box-shadow: 0px 6px 24px -6px rgba(0,0,0,1);
}
.samenwerking {
	grid-area: samenwerking;
	margin: 15px;
	background-color: #1E1D31;
	border-radius: 10px;
	-webkit-box-shadow: 0px 6px 24px -6px rgba(0,0,0,1);
	-moz-box-shadow: 0px 6px 24px -6px rgba(0,0,0,1);
	box-shadow: 0px 6px 24px -6px rgba(0,0,0,1);
}
.locatie {
	grid-area: locatie;
	background-color: white;
}

h1 {
	font-family: 'Bree Serif', serif;
	font-size: 28px;
	line-height: 42px;
	padding: 10px 0px 10px 0;
}

/*eind content*/


/*buttons*/

.hoofdbutton {
	background-color: #44A23F;
	padding: 20px 30px 20px 30px;
	margin: 20px;
	font-family: Arial;
	font-size: 21px;
	border-style: none;
	color: white;
	-webkit-box-shadow: 7px 9px 19px -6px rgba(0,0,0,0.34);
	-moz-box-shadow: 7px 9px 19px -6px rgba(0,0,0,0.34);
	box-shadow: 7px 9px 19px -6px rgba(0,0,0,0.34);
}
.hoofdbutton:hover{
	background-color: white;
	border:2px solid #44A23F;
	color: black;
}
#myBtn {
  display: none; 
  position: fixed; 
  bottom: 10px; 
  right: 15px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #333333; 
  color: white; 
  padding: 15px; 
  border-radius: 5px; 
  font-size: 18px; 
}

#myBtn:hover {
  background-color: #00F8FF;
  cursor: pointer;
}
.button.cart {
	padding:0;
	background:transparent;
}
.button.search{
	padding:5px 20px;
	background:transparent;
}

/*eind buttons*/

/*footer*/

footer{
	grid-area: footer;
	background-color: #FDA105;
}
.footer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	padding: 10px;
	font-size: 18px;
}
.footer-item{
	display:none;
}
.footer-logo{
	display:none;
}

/*eind footer*/


@media screen and (min-width: 600px){
/*tablet*/

	body {
		grid-template-rows:  100px 1fr 1fr 1fr 100px;
		grid-template-columns:  1fr 1fr;
		grid-template-areas: 
			"nav nav"
			"header header"
			"afstand samenwerking"
			"locatie locatie"
			"footer footer";
	}
	.image {
		content: url("tabletfigmabanner.png");
		width:100%;
		height: auto;
	}
	.locatie {
		text-align: center;
	}
	.locatie h1 {
		text-align: center;
	}
	article {
		font-size: 21px;
		line-height: 28px;
	}

/*navigatie*/

	.menu{
		justify-content: space-around;
	}
	.button.cart {
		padding:0;
		background:transparent;
	}
	.logo{
		flex:1;
	}
	.item.button{
		width: auto;
		order:1;
		display: block;
	}
	.toggle{
		order:2;
	}
	.item{
		order: 3;
	}
	.button.secondary{
		border: 0;
	}
	.button a{
		text-decoration: none;
		padding: 0;
		background: transparent;
	}
	.button.secondary a{
		background: transparent;
	}
	.button a:hover{
		transition: all .25s;
	}
	.button:not(.secondary) a:hover{
		background: #409A3C;
		border-color: #727272;
	}
	.button.secondary a:hover{
		color: #727272;
		border-color: #727272;
	}
}

/*einde navigatie*/

@media screen and (min-width: 900px){
/*laptop*/

	article {
		font-size: 21px;
		line-height: 32px;
	}
	.locatie img{
		width: 50%;
		height: auto;
	}
/*search*/

	.button.search{
		display:none;
	}
	.zoekbalk {
		display: block;
		order:2;
	}
	.zoek-button {
		color:white;
		background-color: #44A23F;
		padding: 5px 7px;
		border-style: none;
	}
	.zoek-button:hover{
		background-color: #377933;
	}
	/*eind search*/
	.logo{
		display: none;
	}
	.logo-payoff{
		display:block;
	}
	.item {
		display: block;
		width: auto;
	}
	.toggle {
		display:none;
	}
	.logo{
		order: 0;
	}
	.item{
		order:1;
	}
	.button{
		order:2;
	}
	.menu li{
		padding: 15px 10px;
	}
	.menu li.button{
		padding-right: 0;
	}
/*footer*/
	.footer-logo {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding: 5px;

	}
	.footer{
		justify-content: space-around;
		font-size: 21px;
	}
	.footer-item {
		display: block;
		padding: 20px;
		align-items: flex-start;
	}

}

@media screen and (min-width: 1200px) {
/*desktop*/
	h1{
		font-size: 36px;
		padding: 20px 0px;
	}
	article {
		font-size: 24px;
		line-height: 32px;
	}
	.locatie img{
		width: 50%;
		height: auto;
	}
}


