* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}


body {
	font-family: sans-serif; 
	background-color: #0E0E1F;
	color: white;
	display: grid;
	margin: 0;
	padding: 0;
	height: 836px;
	grid-template-rows: 100px 100px 1fr 1fr 1fr 1fr 100px;
	grid-template-columns:  1fr;
	grid-template-areas: 
		"logo"
		"nav"
		"header"
		"afstand"
		"samenwerking"
		"locatie"
		"footer";
}
.raket {
	position: relative;
	width: 500px;
}
.raket2 {
	position: relative;
	width: 300px;
	padding-left: 10px;
	}
.locatie h1{
	text-align: left;
}
.locatie {
	text-align: left;
}

/*navigatie*/

nav {
	grid-area: nav;
	display: block;
	margin: 30px;
}
nav ul {
  padding: 0;
  display: flex;
  justify-content: left;
}
nav ul li{
  list-style: none;
  background-color: #A7A5CA;
  	margin: 0px 15px 0px 0px;
  padding: 15px 30px 15px 30px;
  border-radius: 25px;
}
nav ul li:hover{
	background-color: #7777A0;
	-webkit-box-shadow: 0px 6px 24px -6px rgba(0,0,0,1);
	-moz-box-shadow: 0px 6px 24px -6px rgba(0,0,0,1);
	box-shadow: 0px 6px 24px -6px rgba(0,0,0,1);
}
nav ul li a{
	font-family: 'Teko', sans-serif;
	color: white;
	text-decoration: none;
	font-size: 1.5em;
}
a {
	color: white;
	text-decoration: none;
}
.logo {
	grid-area: logo;
	margin: 30px;
	width: 200px;
	height: 80px;
	display: flex;
	justify-content: center;
}

/*eind navigatie*/

header {
	grid-area: header;
	margin: 30px;
	background-color: #1E1D31;
	border-radius: 10px;
	-webkit-box-shadow: 0px 6px 24px -6px rgba(0,0,0,1);
	-moz-box-shadow: 0px 6px 24px -6px rgba(0,0,0,1);
	box-shadow: 0px 6px 24px -6px rgba(0,0,0,1);
}
header div {
	margin: auto;
	padding: 0;
}
.afstand div {
	color: white;
}
/*content*/

section {
	display: flex;
	flex-direction: column;
}
article {
	padding: 20px;
	font-family: Arial;
	font-size: 1.125em;
	line-height: 28px;
}
.afstand {
	grid-area: afstand;
	margin: 30px;
	background-color: #1E1D31;
	border-radius: 10px;
	-webkit-box-shadow: 0px 6px 24px -6px rgba(0,0,0,1);
	-moz-box-shadow: 0px 6px 24px -6px rgba(0,0,0,1);
	box-shadow: 0px 6px 24px -6px rgba(0,0,0,1);
}
.samenwerking {
	grid-area: samenwerking;
	margin: 30px;
	background-color: #1E1D31;
	border-radius: 10px;
	-webkit-box-shadow: 0px 6px 24px -6px rgba(0,0,0,1);
	-moz-box-shadow: 0px 6px 24px -6px rgba(0,0,0,1);
	box-shadow: 0px 6px 24px -6px rgba(0,0,0,1);
}

.locatie {
	grid-area: locatie;
	margin: 30px;
	padding: 15px;
	background-color: #1E1D31;
	border-radius: 10px;
	-webkit-box-shadow: 0px 6px 24px -6px rgba(0,0,0,1);
	-moz-box-shadow: 0px 6px 24px -6px rgba(0,0,0,1);
	box-shadow: 0px 6px 24px -6px rgba(0,0,0,1);
}

h1 {
	font-family: 'Teko', sans-serif;
	font-size: 28px;
	line-height: 42px;
	padding: 10px 0px 10px 0;
}

/*eind content*/


/*buttons*/

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 10px; 
  right: 15px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #A7A5CA; 
  color: white; 
  padding: 15px; 
  border-radius: 5px; 
  font-size: 18px; 
}

#myBtn:hover {
  background-color: #00F8FF;
  cursor: pointer;
}


/*eind buttons*/

/*footer*/

footer{
	grid-area: footer;
	background-color: #0E0E1F;
	margin: 15px;
	padding: 0;
	display: flex;
	justify-content: left;
}

/*eind footer*/


@media screen and (min-width: 600px){
/*tablet*/

	body {
		grid-template-rows:  100px 100px 1fr 1fr 1fr 100px;
		grid-template-columns:  1fr 1fr;
		grid-template-areas:
			"logo logo" 
			"nav nav"
			"header header"
			"afstand samenwerking"
			"locatie locatie"
			"footer footer";
	}


@media screen and (min-width: 900px){
/*laptop*/

	body {
		grid-template-rows:  100px 100px 1fr 1fr 1fr 100px;
		grid-template-columns:  1fr 1fr;
		grid-template-areas: 
			"logo logo"
			"nav nav"
			"header header"
			"afstand samenwerking"
			"locatie locatie"
			"footer footer";
	}

/*footer*/
	.footer-logo {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding: 5px;

	}
	.footer{
		justify-content: space-around;
		font-size: 21px;
	}
	.footer-item {
		display: block;
		padding: 20px;
		align-items: flex-start;
	}
	.raket {
		position: relative;
		width: 800px;
	}
	.raket2 {
	position: relative;
	width: 500px;
	}

}

@media screen and (min-width: 1200px) {
/*desktop*/
	h1{
		font-size: 36px;
		padding: 20px 0px;
		text-align: left;
	}
	article {
		font-size: 1.125em;
		line-height: 32px;
	}
	.locatie img{
		width: 50%;
		height: auto;
		padding: 10px;
	}

}


